<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    cacheResult="false"
    colors="true"
    executionOrder="default"
>
    <testsuites>
        <testsuite name="BurgerHouse Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
